/* type */
.curious { color:$curious}
.curious-l { color: $heliotrope }

.denim { color:$denim;}

.heliotrope {color:$heliotrope}

.tundora{ color: $tundora }
.dusty { color: $dusty }
.silver { color: $silver }
.dove { color: $dove }
.alabaster { color: $alabaster }
.brightturqoise { color: $brightturqoise }
.white { color:#fff}

/* backgrounds */
.b-zircon     {background-color:$zircon;}
.b-mineshaft  { background-color:$mineshaft}
.b-heliotrope { background-color: $heliotrope}
.b-curious     { background-color: $curious}
/* borders */
.bt-s { border-top:1px solid color($spring alpha(-75%)) }
.bt-sp { border-top:1px solid color($spring alpha(-25%)) }

.bt-b { border-top:1px solid color($denim alpha(-75%)) }

.bt-v {
  border-top:1px solid color($violetred alpha(-75%))
}

.bt-h {
  border-top:1px solid color($heliotrope alpha(-0%))
}

.bt-j {
  border-top:1px solid color($jaffa alpha(-75%))
}

.bt-bo {
  border-top:1px solid color($bouquet alpha(-75%))
}
.bt-bk {
  border-top:1px solid color($halfbaked alpha(-75%))
}
.bt-d {
  border-top:1px solid color($dodger alpha(-75%))
}
.bt-fp {
  border-top:1px solid color($frenchpass alpha(-50%))
}

.bt-bt {
  border-top:1px solid color($brightturqoise alpha(-75%))
}

/* block quote */
.bl-q {
  border-left:0.5rem solid color($curious alpha(-75%));
}
