/* ==========================================================================
   SITE STYLES

   - Mobile first
   - Medium and Large
   - Medium
   - Large
   ========================================================================== */




/* Mobile-first classes here (No media query needed, these styles are global)
   ========================================================================== */

.dsh {
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.05);
}
.brd-5 {
  border-radius:5px;
}
.brd-3 {
  border-radius:3px;
}
.brd-100{
  border-radius: 50%;
}


/* Medium and Up - Targets everything larger than mobile
   ========================================================================== */

@media (--breakpoint-medium-and-up) {

}




/* Medium - only targets 1st breakpoint. Styles
   ========================================================================== */

@media (--breakpoint-medium) {

}




/* Large - only targets 2nd breakpoint.
   ========================================================================== */

@media (--breakpoint-large) {

}
