/*
   VARIABLES
   Add your variables to the :root selector.
   Then reference them in your other css modules like so

   :root {
      --spacing-small: 32px;
   }

   .someClass {
     padding: var(--spacing-small)
   }

*/

/* logo blues */
$curious: #26A8DF;
$denim: #1D7CC1;

$zircon: #FAFCFF;
/* sneaker complement */
$spring: #2AFFA5;
$yg: #B8E986;

/* grays */

$tundora: #444444;
$dusty: #636363;
$silver: #A9A9A9;
$dove: #737373;


:root {

}
